@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;500&display=swap');


@tailwind base;
@tailind components;
@tailwind utilities;

@layer base {
  
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
  }

  header {
    font-family: 'Pacifico', cursive;
  }

  .grey-container {
    background-color: #b3b5b8b0;
    border-radius: .375rem;
    padding: 6px;

  }

  .link {
    color: inherit;
  }
  .link:hover {
    color: inherit;
    text-decoration: none;
  }
}

